.mainbg {
    background-image: url("/images/mobile/mobile-website-binangonan-rural-bank-06-edited.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 57.9375rem;

    @include breakpoint-up(large) {
        background-image: url("/images/headoffice/website-binangonan-rural-bank-01.png");
    }
}
.historybg {
    background-image: url("/images/mobile/mobile-website-binangonan-rural-bank-07-edited.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 64.9375rem;
    @include breakpoint-up(large) {
        min-height: 64.9375rem;
        background-image: url("/images/headoffice/website-binangonan-rural-bank-02.png");
    }
}
.whowearebg {
    background-image: url("/images/mobile/mobile-website-binangonan-rural-bank-08-edited.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 57.9375rem;

    @include breakpoint-up(large) {
        min-height: 57.9375rem;
        background-image: url("/images/headoffice/website-binangonan-rural-bank-03.png");
    }
}
.ourteambg {
    background-image: url("/images/mobile/mobile-website-binangonan-rural-bank-11.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 58.9375rem;
    @include breakpoint-up(large) {
        min-height: 58.125rem;
        background-image: url("/images/headoffice/website-binangonan-rural-bank-06.png");
    }
}
.lastbg {
    background-image: url("/images/mobile/mobile-website-binangonan-rural-bank-11.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 57.9375rem;
}
