.hero {
    @include breakpoint-up(large) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    &__text {
        flex: 1 100%;
    }

    &__p {
        font-size: 0.75rem;
        order: 2;
        flex: 1 0 30%;
        @include breakpoint-up(large) {
            padding: 0;
            font-size: 2.5rem;
            padding-left: 1.5rem;
        }
    }

    &__image {
        order: 3;
        flex: 1 0 50%;
        background-image: url("/images/headoffice/50yrs_hero.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 10.75rem;

        @include breakpoint-up(large) {
            min-height: 31.875rem;
            background-position: center center;
            background-size: 70%;
        }
    }
}
