.history {
    @include breakpoint-up(large) {
        display: flex;
        flex-wrap: wrap;
    }
    &__title {
        // padding-top: 100px;
        // font-size: 68px;
        font-family: "Open Sans", sans-serif;
        // letter-spacing: 4px;
        // font-weight: 600;
        @include breakpoint-up(large) {
            flex: 1 0 100%;
        }
    }

    &__p {
        text-align: justify;
        font-size: 12px;

        @include breakpoint-up(large) {
            flex: 0 1 100%;
            font-size: 1.5rem;
            padding-left: 40%;
        }
    }
}
