.whoweare {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &__text {
        h1 {
            text-align: right;
            color: $cream;
        }
    }
    &__img {
        // flex: 1;
        // order: 1;
        // position: relative;
        // background-image: url("/images/headoffice/circle_brb_logo.png");
        // background-size: contain;
        // background-position: center center;
        // background-repeat: no-repeat;
        // width: 50%;
        // min-height: 700px;
        // flex: 1;

        background-image: url("/images/headoffice/circle_brb_logo.png");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 14.4375rem;
        width: 50%;

        @include breakpoint-up(large) {
            background-image: url("/images/headoffice/brb-logo1.png");
            flex: 0 1 50%;
            min-height: 51.01625rem;
        }
    }
    &__p {
        flex: 0 1 50%;
        order: 2;
        color: $cream;
        font-size: 1.25rem;
    }
}
