.whoweare {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__text {
        h1 {
            color: $cream;
        }

        @include breakpoint-up(large) {
            text-align: right;
        }
    }
    &__img {
        // flex: 1;
        // order: 1;
        // position: relative;
        // background-image: url("/images/headoffice/circle_brb_logo.png");
        // background-size: contain;
        // background-position: center center;
        // background-repeat: no-repeat;
        // width: 50%;
        // min-height: 700px;
        // flex: 1;

        background-image: url("/images/headoffice/circle_brb_logo.png");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 15.4375rem;
        flex: 1 100%;

        @include breakpoint-up(large) {
            background-image: url("/images/headoffice/brb-logo1.png");
            flex: 0 1 50%;
            min-height: 51.01625rem;
        }
    }
    &__p {
        padding-top: 5rem;
        font-size: 14px;
        text-align: justify;
        flex: 1 100%;
        order: 2;
        color: $cream;
        @include breakpoint-up(large) {
            font-size: 1.25rem;
            flex: 1 50%;
        }
    }
}
